.header{
  display: flex;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.logo{
  display: inline-flex;
  color: MediumAquamarine;
  justify-content: flex-start;
  padding-left: 30px;
  align-items: center;
}
#mtlogo{
  padding-left: 15px;
}
