header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  width: 100%;
  background-color: white;
}
.logo{
  display: flex;
  flex-grow: 1;
  color: MediumAquamarine;
  justify-content: flex-start;
  width: 100%;
  padding-left: 30px;
  align-items: center;
}
.logo span{
    padding-left: 15px;
}
nav{
  height: 80px;
  width: 100%;
  display: flex;
  padding-right: 40px;
  justify-content: flex-end;
  align-items: center;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}
a{
  color: black;
}
.content{
  display: flex;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
.column{
  margin-right: 32px;
}
div{
}
.column.large{
  display: flex;
  width: 630px;
  flex-direction: column;
}
.column.medium{
  display: flex;
  width: 300px;
  flex-direction: column;
}
.column.small{
  display: flex;
  flex-direction: column;
  width: 240px;
  flex-direction: column;
}
.image-content{
  color: white;
  font-family: Georgia;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}
.lead-story .image-content{
  display: flex;
  height: 300px;
  font-size: 40px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}
.cat-ceo.image-content{
  display: flex;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}
.pop-culture.image-content{
  display: flex;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}
.fall-cancelled.image-content{
  display: flex;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}
.stories{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stories .text-content{
  height: 250px;
}
.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}
h3{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}
.news-bites span{
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-family: Verdana;
  background-color: WhiteSmoke;
  color: DimGray;
  border-bottom: 1px solid black;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer{
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  font-family: Verdana;
  font-size: 12px;
}
.logo-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.bottom-logo{
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right 30px;
  border-right: 2px solid white;
}
